<form (ngSubmit)="handleJWTAuthLogin()" name="form" #form>
  <div class="container loginWidth" style="margin-top: 300px;">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="form-group">

      <div *ngIf="form.username.$valid">Username is required</div>
      <label for="username">Username</label>
      <input type="text" name="username" class="form-control" [(ngModel)]="username">
    </div>
    <div class="form-group">
<!--      <div *ngIf="f.username.errors.required">Password is required</div>-->
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success form-control">Login</button>
    </div>
  </div>
</form>

