
.noPaddingLeft {
  padding-left: 0;
}
.noPaddingRight {
  padding-right: 0;
}
.noPadding {
  padding-left: 0;
  padding-right: 0;
}
.padding5 {
  padding-left: 5px;
  padding-right: 5px;
}
.btnStyle {
  border: 2px solid #6e6ecc;
}

.fixedFooter {
  position: fixed;
}
.redButtonDisabled {
  background-color: #b3b3b3;
  color: #333;
}
.confirmBtnDisabled {
  background-color: #b3b3b3;
  color: #333;
}

@media (min-width: 768px) and (max-width: 991px){
  .seven-cols .col-xs-1,
  .seven-cols .col-lg-1  {
    //width: 11.7%;
    width: 18.7%;
    margin-top: 5px;
  }
  .treeClass {
    height: 753px !important;
    //height: 816px !important;
  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .leftBodyStyle {
    //height: 942px !important;
    height: 1085px !important;
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    //width: 23.4%;
    width: 18.7%;
    padding: 2px;
  }
  .leftBodyStyle {
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .rightBodyStyle {

  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .userNameClass {
    width: 80px;
    margin-left: 5px;
  }
  .userDiv {
    width: 55px;
  }
  .userNumberClass {
    margin-top: 0;
    margin-right: 10px;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */
@media (min-width: 1200px) and (max-width: 1500px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 18.7%;
    //width: 23.7%;
    margin-top: 3px;
  }
  .leftBodyStyle {
    //height: 963px !important;
    height:86.5vh !important;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .pdf-container {
    height: 82.5vh !important;
  }
  .treeClass {
    height: 41.5vh !important;
  }
  .rightBodyStyle {
    //height: 963px !important;
  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .userDiv {
    //padding-left: 10px !important;
  }
}

@media (min-width: 1500px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 18.7%;
    margin-top: 5px;
    //width: 11.7%;
  }
  .leftBodyStyle {
    //height: 963px !important;
    padding-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .rightBodyStyle {
    //height: 963px !important;
  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .userDiv {
    //padding-left: 10px !important;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .buttonsBottom {
    margin-left: 3%;
  }
  .seven-cols .col-xs-1{
    //width: 23.4%;
    width: 18.7%;
    padding: 2px;
  }
  .treeClass {
    height: 596px !important;
  }
  .btnStyle {
    padding: 0;
  }
  .leftBodyStyle {
    height: 960px !important;
    //height: 1018px !important;
    //height: 895px !important;
    //height: unset !important;
    overflow: unset;
    padding-bottom: 10px;
  }
  .rightBodyStyle {
    //height: 960px !important;
  }
  .userNameClass {
    width: 80px;
    margin-left: 5px;
  }
  .userDiv {
    width: 55px;
  }
  .userNumberClass {
    margin-top: 0;
    margin-left: 5px;
    float: none !important;
  }
}

@media (max-width: 479px) {
  .seven-cols .col-xs-1 {
    width: 23.5%;
  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .secondRow {
    margin-top: 10px;
  }
  //.treeClass {
  //  height: 596px !important;
  //}
  .leftBodyStyle {
    //height: 1037px !important;
    //height: unset !important;
    padding-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .seven-cols .col-xs-1 {
    width: 23.5%;
  }
  .buttonsBottom {
    margin-left: 3%;
  }
  .secondRow {
    margin-top: 10px;
  }
  .leftBodyStyle {
    //height: 1102px !important;
    height: unset !important;
  }
}




